node_modules
functions/node_modules
scripts/node_modules
dist
functions/dist
scripts/dist
coverage
.idea
.vscode
package-lock.json
functions/package-lock.json
scripts/package-lock.json
firebase-debug.log
